*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: lightblue;
}

.member__heading{
	font-size: 35px;
	color: blue;
	margin: 50px;

}


.member__text{
	background: blue;
}

.member__label{
	font-size: 20px;
	margin: 50px;
	color: blue;
}

.member__checkbox member__checkbox--checkbox1{
    font-size: 100px;
    color: red;
}

.member__submit{
    border: 2px solid red;
    border-radius: 5px;
    color: blue;
    font-size: 18px;
}